<template>
  <list :value="value" />
</template>

<script>
import List from './List'

export default {
  components: {
    List
  },
  props: {
    value: Array
  }
}
</script>

<style>

</style>
