<template>
  <b-card class="border-0 w-100">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h4 class="mb-0">{{ `${value.name} ${cityCountry}` }}</h4>
    </div>

    <div class="w-75 mx-auto d-flex justify-content-between align-items-center mb-3">
      <b-img v-if="value.weather" width="80px" :src="icon" />
      <b-card-text v-if="value.weather" class="h2">{{ value.weather.main.temp }}°C</b-card-text>
    </div>

    <b-card-text v-if="value.weather" class="small">Feels like {{ value.weather.main.feels_like }}°C. {{ weatherDescription }}</b-card-text>

    <div class="d-flex small justify-content-between flex-wrap">
      <div v-if="value.weather" class="d-flex align-items-center mb-2">
        <b-icon class="mr-1" icon="cursor-fill" />
        <p class="mb-0">{{ value.weather.wind.speed }} m/s SSE</p>
      </div>
      <div v-if="value.weather" class="d-flex align-items-center mb-2">
        <b-icon class="mr-1" icon="compass" />
        <p class="mb-0">{{ value.weather.main.pressure }}hPa</p>
      </div>
      <div v-if="value.weather" class="d-flex align-items-center mb-2">
        <p class="mb-0">Humidity: {{ value.weather.main.humidity }}%</p>
      </div>
      <!-- <div class="d-flex align-items-center mb-2">
        <p class="mb-0">Dew point: 0°C</p>
      </div> -->
      <div v-if="value.weather" class="d-flex align-items-center mb-2">
        <p class="mb-0">Visibility: {{ value.weather.visibility / 1000 }} km</p>
      </div>
    </div>

  </b-card>
</template>

<script>
import apiWeather from '@/api/weather'

export default {
  computed: {
    weatherDescription () {
      if (!this.value.weather) return null
      return this.value.weather.weather.reduce((cur, weather, indx) => {
        return indx !== 0 ? cur + ', ' + weather.description : weather.description
      }, '')
    },
    cityCountry () {
      if (!this.value.weather) return null
      return this.value.weather.sys.country
    },
    icon () {
      if (!this.value.weather) return null
      return apiWeather.getIconByWeatherCode(this.value.weather.weather[0].icon)
    }
  },
  props: {
    value: Object
  }
}
</script>
