<template>
  <b-list-group style="position:relative;" :flush="true">
    <b-list-group-item :key="`cities-list-${i}`" v-for="(city,i) in value">
      <item :value="city" />
    </b-list-group-item>
  </b-list-group>
</template>

<script>
import Item from './Item'

export default {
  components: {
    Item
  },
  props: {
    value: {
      type: Array
    }
  }
}
</script>
