<template>
  <b-form @submit.prevent="addCity">
    <p class="h6">Add Location:</p>
    <div class="d-flex justify-content-between">
      <b-form-input v-model="cityName" required class="w-75" />
      <b-button type="submit" variant="primary">Add</b-button>
    </div>
  </b-form>
</template>

<script>
export default {
  data () {
    return {
      cityName: ''
    }
  },
  methods: {
    addCity () {
      const newCity = { name: this.cityName }
      this.$emit('add-city', newCity)
      this.cityName = ''
    }
  }
}
</script>

<style>

</style>
