<template>
  <b-card class="border-0">
    <h4 class="mb-3">Settings</h4>
    <list @re-order-cities="$emit('re-order-cities')" @remove-city="$emit('remove-city', $event)" :value="value" />
    <add-form @add-city="$emit('add-city', $event)" />
  </b-card>
</template>

<script>
import List from './List'
import AddForm from './AddForm'

export default {
  components: {
    List, AddForm
  },
  props: {
    value: Array
  }
}
</script>

<style>

</style>
