<template>
  <draggable @end="$emit('re-order-cities')" tag="b-list-group" handle=".handle" :list="value" class="pb-0 mb-4">
    <b-list-group-item
      :key="`settings-list-${i}`"
      v-for="(city,i) in value"
      rounded
      class="d-flex justify-content-between align-items-center px-2 mt-2"
      style="background: #dddddd;"
    >
      <div class="d-flex align-items-center">
        <b-icon style="cursor: move;" icon="justify" class="mr-1 handle" />
        <p class="mb-0">{{ `${city.name} ${getCityCountry(city)}` }}</p>
      </div>
      <b-icon style="cursor:pointer;" @click="$emit('remove-city', i)" icon="trash" />
    </b-list-group-item>
  </draggable>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  components: {
    draggable
  },
  methods: {
    getCityCountry (city) {
      if (!city.weather) return null
      return city.weather.sys.country
    }
  },
  props: {
    value: {
      type: Array
    }
  }
}
</script>

<style>

</style>
