<template>
  <b-card class="weather-widget mx-auto w-100" style="max-width:300px;min-height:120px;position:relative;" body-class="p-0">
    <b-icon @click="toggle = !toggle" class="h5 gear mb-0" :icon="topIcon" />
    <main-side v-show="!toggle" :value="cities" />
    <settings
      @re-order-cities="apiCities.reSaveCities(cities)"
      @remove-city="removeCity"
      @add-city="addCity"
      v-show="toggle"
      :value="cities"
    />

    <b-alert
      fade
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
      variant="danger"
      :show="dismissCountDown"
      class="alert"
    >
      <div class="d-block text-center">
        <h4>{{ errorTitle }}</h4>
        <h6>{{ errorMessage }}</h6>
      </div>
      <b-button variant="primary" class="mt-3" block @click="dismissCountDown = 0">OK</b-button>
    </b-alert>
  </b-card>
</template>

<script>
import MainSide from './MainSide/Index'
import Settings from './SettingsSide/Index'
import apiCities from '@/api/cities'
import apiGeo from '@/api/geo'
import apiWeather from '@/api/weather'
import apiGeneral from '@/api/general'

// initialization plugins
import init from '@/utils/init'
init()

export default {
  data () {
    return {
      toggle: false,
      cities: [],
      dismissCountDown: 0,
      dismissSecs: 3,
      errorTitle: '',
      errorMessage: ''
    }
  },
  created () {
    const isFirst = apiGeneral.isFirstVisit()
    if (isFirst) {
      apiGeo.getLocation(this.saveCurrentCity, (err) => {
        this.showError('An error occurred while getting geolocation.', err.message)
      })
      apiGeneral.setFirstVisit(1)
    } else {
      this.getAndSaveCities()
    }
  },
  methods: {
    async getAndSaveCities () {
      this.cities = apiCities.getCacheCities()
      this.cities = await this.getWeatherByCities(this.cities)
    },
    addCity (newCity) {
      apiWeather.getWeatherByCityName(newCity.name).then(res => {
        apiCities.addCacheCity(newCity)
        this.getAndSaveCities()
      }).catch(err => {
        const serviceMessage = err.response.data.message
        this.showError('Error when adding a city', !serviceMessage ? 'unknown error' : serviceMessage)
      })
    },
    removeCity (index) {
      apiCities.removeCacheCity(index)
      this.getAndSaveCities()
    },
    showError (title, message) {
      this.errorMessage = message
      this.errorTitle = title
      this.dismissCountDown = this.dismissSecs
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    saveCurrentCity (geoObject) {
      const coords = geoObject.coords
      apiWeather.getWeatherByCoords(coords.latitude, coords.longitude).then(res => {
        if (!res.data) return
        apiCities.addCacheCity({ name: res.data.name })
        this.getAndSaveCities()
      }).catch(err => {
        const serviceMessage = err.response.data.message
        this.showError('get weather error service', !serviceMessage ? 'unknown error' : serviceMessage)
      })
    },
    async getWeatherByCities (cities) {
      let currentCities = [...cities]
      currentCities = currentCities.map(city => {
        return apiWeather.getWeatherByCityName(city.name).then(res => {
          return { ...city, weather: res.data }
        }).catch(err => {
          const serviceMessage = err.response.data.message
          this.showError('get weather error service', !serviceMessage ? 'unknown error' : serviceMessage)
        })
      })
      return await Promise.all(currentCities).then(res => {
        return res
      })
    }
  },
  components: {
    MainSide, Settings
  },
  computed: {
    topIcon () {
      return this.toggle ? 'x-circle' : 'gear'
    }
  }
}
</script>

<style lang="css">
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
</style>

<style lang="sass" scoped>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

.gear
  position: absolute
  right: 15px
  top: 15px
  z-index: 1
  cursor: pointer

.weather-widget
  font-family: 'Roboto', sans-serif

.alert
  position: absolute
  top: 0
  z-index: 2
  right: 0
  left: 0
  margin: 0

</style>
