<template>
  <div class="d-flex justify-content-center align-items-center" id="app">
    <widget />
  </div>
</template>

<script>
import Widget from '@/components/Widget'

export default {
  name: 'App',
  components: {
    Widget
  }
}
</script>
